<section>
    <div class="container col-lg-6 col-md-6 col-sm-12 justify-content-center">
        <hr><h1 class="text-center">About</h1><hr>
        <p class="text-justify">Web Organizer is a simple application allowing you to organize your daily routines by adding small, simple notes to your dashboard. You can edit or delete them at any moment.</p>
        <p></p>
    </div>
</section>