<h1>Login</h1>
<form action="/auth/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input
            type="email"
            name="email"
            placeholder="Enter your email"
        />
    </div>
    <div>
        <label for="password">Password</label>
        <input
            type="password"
            name="password"
            placeholder="Enter your password"
        />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
<p>Don't have an Account? No problem! <a href="/auth/register">Register</a></p>