<script>
    $(document).ready(function() {
        var i = 0;
        $('button[name="edit"]').on('click', function() {
            i++;
            if(i <= 1) {
                $('fieldset[name="form-control-fieldset"]').removeAttr("disabled");
                $('button[name="edit"]').attr("hidden", true);
                var saveBtn = $('<button type="submit" class="btn btn-primary">Save changes</button>');
                var cancelBtn = $('<button type="button" class="btn btn-warning">Cancel</button>');            
                $("form").append(saveBtn);
                $("form").append(cancelBtn);
            }
            $(cancelBtn).on('click', function() {
                    i = 0;
                    $('fieldset[name="form-control-fieldset"]').attr("disabled", true);
                    $('button[name="edit"]').removeAttr("hidden");
                    $(cancelBtn).remove();
                    $(saveBtn).remove();
                    $("form")[0].reset();
            });
        });
    });
</script>

<section>
    <div class="container col-lg-6 col-md-6 col-sm-12 text-center justify-content-center">
        <hr><h1>Profile</h1><hr>
        <form action="/user" method="POST">
            <fieldset name="form-control-fieldset" disabled>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="login" class="form-control" name="login" value="<%= user.login %>">
                </div>
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="firstname" class="form-control" name="firstname" value="<%= user.firstname %>">
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="lastname" class="form-control" name="lastname" value="<%= user.lastname %>">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" value="<%= user.email %>">
                </div>
            </fieldset>
            <button type="button" name="edit" class="btn btn-success">Edit</button>
        </form>
    </div>
</section>