<section style="clear: both;">
    <div class="container col-6 text-center">
        <hr><h1>Welcome to Web Organizer!</h1><hr>
        <p>Create an account or login:</p>
        <a href="/auth/register">Register</a>
        <a href="/auth/login">Login</a>
    </div>
</section>