<footer class="footer bg-primary text-white justify-content-center align-middle text-center mt-md-3" style="width: 100%; clear: both; bottom: 0; left: 0;">
    <p class="d-inline-flex mr-md-3 ml-md-3 mt-md-3">Copyright &copy; 2020 Jakub Sarnowski</p>|<p class="d-inline-flex mr-md-3 ml-md-3 mt-md-3"><a style="color: white;" href="https://github.com/jsarnowski96">https://github.com/jsarnowski96</a></p>
</footer>