<footer class="footer bg-primary text-white justify-content-center align-middle text-center d-flex flex-column" style="width: 100%; clear: both; bottom: 0; left: 0;">
    <p class="mt-3">Copyright &copy; 2020 Jakub Sarnowski</p><p><a style="color: white;" href="https://github.com/jsarnowski96">https://github.com/jsarnowski96</a></p>
</footer>